@font-face {
    font-family: Centurion;
    src: url(The\ Centurion.otf);
}

@font-face {
    font-family: HappySchool;
    src: url(Happy\ School.otf);
}

body {
    background-color: #38325C;
    background-image: url(background.png);
    margin: 0;
}